<section id="stories">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/stories/{{ post.img }}" alt="">
                    <p class="image-credit text-center">{{ post.image-credit }}</p>
                </div>
            </div>

            <div class="row">
              <div class="details collapse" id="collapseNIPO1" aria-expanded="true">
                <div class="col-lg-6">
                  <p>To refine and prioritize years of product innovation ideas from all corners of the company, I lead design sprints and discovery sessions. These resulted in a collection of prioritized product ideas, that I then turned into low fidelity but clickable prototypes. I shared my prototypes with the entire company, hoping to get as much feedback as possible. I delivered iterated prototypes to the development teams and helped to tweak the outcome through conversation and experimentation during the build process.</p>
                  <img src="img/gallery-of-ideas.jpg">
                </div>
                <div class="col-lg-6">
                  <p>My visual direction for the product was a synthesis of the best bits of popular dashboards; embracing Google's material design approach, the interface is spartan and utilitarian, without clutter ushering users through their tasks.</p>
                  <img src="img/nipo2.jpg" />
                  <p>To efficiently maintain a singular and unified source of styling and interaction patterns, I coded a living style guide based on the open source Fabricator project. I've written a bit about the challenges of <a href="https://medium.com/qa-id-jacobs/turning-engineers-into-dj-s-a53409b622">implementing a living style guide</a> as well as an uncommon git strategy I leveraged for having a <a href="https://medium.com/qa-id-jacobs/adorable-nesting-repos-31a1ed3b13f5"> distributed style library in multiple products</a> across the company portfolio.</p>
                </div>
              </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/stories/{{ post.img }}" alt="">
                  <p class="image-credit text-center">{{ post.image-credit }}</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
